# Selecionando as turmas de semestre impar

## Importando o dataset de avaliações válida

In [2]:
import re
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

In [3]:
df_valid_assessment = pd.read_csv('/content/drive/Shared drives/iniciacao_cientifica_2019_2020/csv_datasets/avaliacoes_validas.csv', sep=';')
df_valid_assessment.rename({'semester':'semester_id', 'class':'class_id', 'assessment':'assessment_id'}, axis=1, inplace=True)
df_valid_assessment = df_valid_assessment.iloc[: , [0, 1, 2, 7, 3, 4]]

## Criando uma função de filtro para capturar as turmas ímpares

In [4]:
def select_impar_semester(semester):
    if (re.search(r'\-1', semester)) :
        return True
    else:
        return False

fltr = df_valid_assessment['semester_id'].apply(select_impar_semester)
df_assessment_first_semester = df_valid_assessment[fltr]

In [5]:
df_assessment_first_semester

    semester_id  class_id  ...        start_date          end_date
0        2016-1       102  ...  2016-06-07 12:00  2016-06-21 10:00
1        2016-1       102  ...  2016-06-21 12:00  2016-06-30 09:59
2        2016-1       102  ...  2016-06-30 10:00  2016-06-30 11:55
3        2016-1       102  ...  2016-07-05 12:00  2016-07-19 08:00
4        2016-1       102  ...  2016-07-19 09:55  2016-07-19 13:20
..          ...       ...  ...               ...               ...
758      2019-1       231  ...  2019-06-13 18:03  2019-06-13 19:50
759      2019-1       231  ...  2019-06-18 19:00  2019-07-02 18:00
760      2019-1       231  ...  2019-07-02 18:03  2019-07-02 19:50
761      2019-1       231  ...  2019-07-04 18:03  2019-07-04 19:50
762      2019-1       231  ...  2019-07-09 18:02  2019-07-09 19:53

[537 rows x 6 columns]

## Visualizando os semesters

In [6]:
df_assessment_first_semester['semester_id'].value_counts()

2017-1    146
2019-1    140
2018-1    133
2016-1    118
Name: semester_id, dtype: int64

## Visualizando a quantidade de assessments válidos

In [7]:
df = df_assessment_first_semester.groupby(by=['semester_id', 'class_id'])['assessment_id'].count().to_frame().reset_index()
df.rename({'assessment_id':'amount_assessment'}, axis=1, inplace=True)
df

   semester_id  class_id  amount_assessment
0       2016-1       102                 13
1       2016-1       103                 13
2       2016-1       105                 14
3       2016-1       106                 13
4       2016-1       107                 13
5       2016-1       108                 13
6       2016-1       109                 13
7       2016-1       110                 13
8       2016-1       111                 13
9       2017-1       135                 15
10      2017-1       136                 15
11      2017-1       137                 16
12      2017-1       138                 15
13      2017-1       139                 14
14      2017-1       140                 14
15      2017-1       141                 14
16      2017-1       142                 15
17      2017-1       143                 14
18      2017-1       144                 14
19      2018-1       180                 15
20      2018-1       181                 15
21      2018-1       183                 14
22      2018-1       185                 14
23      2018-1       186                 14
24      2018-1       187                 15
25      2018-1       188                 16
26      2018-1       189                 15
27      2018-1       190                 15
28      2019-1       220                 15
29      2019-1       221                 16
30      2019-1       222                 15
31      2019-1       223                 15
32      2019-1       224                 16
33      2019-1       225                 15
34      2019-1       226                 16
35      2019-1       230                 16
36      2019-1       231                 16

## Assessments do tipo **homework**

In [8]:
df_homework = df_assessment_first_semester.loc[df_assessment_first_semester['assessment_type'] == 'homework']
df_homework

    semester_id  class_id  ...        start_date          end_date
0        2016-1       102  ...  2016-06-07 12:00  2016-06-21 10:00
1        2016-1       102  ...  2016-06-21 12:00  2016-06-30 09:59
3        2016-1       102  ...  2016-07-05 12:00  2016-07-19 08:00
5        2016-1       102  ...  2016-07-19 12:00  2016-08-02 08:00
7        2016-1       102  ...  2016-08-02 12:00  2016-08-15 10:00
..          ...       ...  ...               ...               ...
751      2019-1       231  ...  2019-04-23 19:40  2019-05-02 18:00
753      2019-1       231  ...  2019-05-07 19:40  2019-05-16 18:00
755      2019-1       231  ...  2019-05-21 19:40  2019-05-30 18:00
757      2019-1       231  ...  2019-06-04 19:00  2019-06-13 18:00
759      2019-1       231  ...  2019-06-18 19:00  2019-07-02 18:00

[260 rows x 6 columns]

## Quantidade de assessment do tipo **homework** por turma

In [9]:
df = df_homework .groupby(by=['semester_id', 'class_id'])['assessment_id'].count().to_frame().reset_index()
df.rename({'assessment_id':'amount_assessment'}, axis=1, inplace=True)
df

   semester_id  class_id  amount_assessment
0       2016-1       102                  7
1       2016-1       103                  7
2       2016-1       105                  7
3       2016-1       106                  7
4       2016-1       107                  7
5       2016-1       108                  7
6       2016-1       109                  7
7       2016-1       110                  7
8       2016-1       111                  7
9       2017-1       135                  7
10      2017-1       136                  7
11      2017-1       137                  8
12      2017-1       138                  7
13      2017-1       139                  7
14      2017-1       140                  7
15      2017-1       141                  7
16      2017-1       142                  7
17      2017-1       143                  7
18      2017-1       144                  7
19      2018-1       180                  7
20      2018-1       181                  7
21      2018-1       183                  7
22      2018-1       185                  7
23      2018-1       186                  7
24      2018-1       187                  7
25      2018-1       188                  7
26      2018-1       189                  7
27      2018-1       190                  7
28      2019-1       220                  7
29      2019-1       221                  7
30      2019-1       222                  7
31      2019-1       223                  7
32      2019-1       224                  7
33      2019-1       225                  7
34      2019-1       226                  7
35      2019-1       230                  7
36      2019-1       231                  7

In [10]:
df.amount_assessment.sum()

260

### Quantidade de turmas por número de questões

In [11]:
df.amount_assessment.value_counts()

7    36
8     1
Name: amount_assessment, dtype: int64

## Assessments do tipo **Exame**

In [12]:
df_exam = df_assessment_first_semester.loc[df_assessment_first_semester['assessment_type'] == 'exam']
df_exam

    semester_id  class_id  ...        start_date          end_date
2        2016-1       102  ...  2016-06-30 10:00  2016-06-30 11:55
4        2016-1       102  ...  2016-07-19 09:55  2016-07-19 13:20
6        2016-1       102  ...  2016-07-28 10:00  2016-07-28 12:00
8        2016-1       102  ...  2016-08-11 10:57  2016-08-11 11:55
10       2016-1       102  ...  2016-08-25 10:00  2016-08-25 11:55
..          ...       ...  ...               ...               ...
756      2019-1       231  ...  2019-05-30 18:03  2019-05-30 19:50
758      2019-1       231  ...  2019-06-13 18:03  2019-06-13 19:50
760      2019-1       231  ...  2019-07-02 18:03  2019-07-02 19:50
761      2019-1       231  ...  2019-07-04 18:03  2019-07-04 19:50
762      2019-1       231  ...  2019-07-09 18:02  2019-07-09 19:53

[277 rows x 6 columns]

In [15]:
df_exam[df_exam['class_id'] == 138]

    semester_id  class_id  ...        start_date          end_date
244      2017-1       138  ...  2017-04-04 08:00  2017-04-04 09:25
246      2017-1       138  ...  2017-04-20 08:00  2017-04-20 09:22
248      2017-1       138  ...  2017-05-04 08:00  2017-05-04 09:25
250      2017-1       138  ...  2017-05-18 08:00  2017-05-18 09:15
252      2017-1       138  ...  2017-06-01 08:00  2017-06-01 09:20
254      2017-1       138  ...  2017-06-20 08:00  2017-06-20 09:00
256      2017-1       138  ...  2017-07-11 08:30  2017-07-11 09:50
257      2017-1       138  ...  2017-07-13 08:30  2017-07-13 09:30

[8 rows x 6 columns]


## Quantidade de assessments do tipo **Exam** por turma

In [13]:
df = df_exam .groupby(by=['semester_id', 'class_id'])['assessment_id'].count().to_frame().reset_index()
df.rename({'assessment_id':'amount_assessment'}, axis=1, inplace=True)
df

   semester_id  class_id  amount_assessment
0       2016-1       102                  6
1       2016-1       103                  6
2       2016-1       105                  7
3       2016-1       106                  6
4       2016-1       107                  6
5       2016-1       108                  6
6       2016-1       109                  6
7       2016-1       110                  6
8       2016-1       111                  6
9       2017-1       135                  8
10      2017-1       136                  8
11      2017-1       137                  8
12      2017-1       138                  8
13      2017-1       139                  7
14      2017-1       140                  7
15      2017-1       141                  7
16      2017-1       142                  8
17      2017-1       143                  7
18      2017-1       144                  7
19      2018-1       180                  8
20      2018-1       181                  8
21      2018-1       183                  7
22      2018-1       185                  7
23      2018-1       186                  7
24      2018-1       187                  8
25      2018-1       188                  9
26      2018-1       189                  8
27      2018-1       190                  8
28      2019-1       220                  8
29      2019-1       221                  9
30      2019-1       222                  8
31      2019-1       223                  8
32      2019-1       224                  9
33      2019-1       225                  8
34      2019-1       226                  9
35      2019-1       230                  9
36      2019-1       231                  9

### Quantidade de turmas por número de questões

In [14]:
df.amount_assessment.value_counts()

8    14
7     9
6     8
9     6
Name: amount_assessment, dtype: int64